

.contact-wrapper{
    padding-bottom: 5rem;
}

.contact-header{
    padding-bottom: 3rem;
}


.contact-header .header{
    padding:1rem 2rem;
    border-left:3px solid #28a745;
}
.contact-header .header .heading{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.6rem;
    font-weight: 700;
}
.contact-header .header .header-prg{
    font-size: 1.25rem;
}
.contact-header .breadcrumb{
    background: transparent;
}
.contact-header .breadcrumb a{
    color:#6c757d;
    transition: .3s;
}
.contact-header .breadcrumb a:hover{
    color:#28a745;
}

.google-map{
    margin-bottom: 8rem;
}
textarea{
    resize: none;
}
.contact-btn {
    background: #000;
    border-radius: 0px;
    margin-top: 1.5rem;
    padding:13px 40px;
    border:none;
    transition: .4s;
}
.contact-btn:hover {
    background: #28a745;
}

.contact-info svg{
    width: 2rem !important;
    height: 2rem;
    margin:0px 1.5rem;
    margin-left: 0;
    padding:.3rem;
}
.contact-info .heading{
    font-weight: 600;
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
}
.contact-info .social-nav .nav-link{
    padding:0px;
}
.contact-info .social-nav .nav-link svg{
    padding:.5rem;
    margin:.2rem;
    color:#000;
    transition: .3s;
}
.contact-info .social-nav .nav-link svg:hover{
    color:#28a745;
}

