html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
}
.container-fluid {
	padding: 0px !important;
}
a:hover {
	text-decoration: none;
}
.section {
	padding: 5rem 0rem;
}
.section-header {
	margin-bottom: 5rem;
}
.section-header .heading {
	font-size: 3rem;
	font-weight: 1000;
	color: #000;
}
.heading {
	color: #000;
}
.section-header .link {
	font-size: 1.25rem;
	color: #555555;
}
.section-header .link:hover {
	text-decoration: none;
	color: #28a745;
}
.owl-theme .owl-dots .owl-dot span {
	border-radius: 0;
	width: 20px;
	transition: 0.4s;
	background: #000;
}
.owl-theme .owl-dots .owl-dot span:hover {
	background: #28a745 !important;
}
.owl-theme .owl-dots .active span {
	width: 35px;
	background: #28a745 !important;
}
.h-border-bottom {
	width: 100px;
	height: 5px;
	background: #28a745;
}
.form-control {
	border-radius: 0px;
	height: 55px;
}
.form-control:focus {
	box-shadow: 0 0 0px black;
	border-color: #28a745;
}
.btn:focus {
	box-shadow: 0 0 0px black;
}
.go-to-top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 1030;
}
.go-to-top .btn {
	border-radius: 50%;
}
.display {
	display: block !important;
}
.lead {
	font-size: 1rem;
}

/* typography end */
/* ######################################################### */

/* serch box styling */
.search-box-wrapper {
	width: 50%;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1200;
	background: #fff;
	padding: 2rem;
	overflow-y: auto;
}

.search-box-wrapper .serch-box-header {
	position: relative;
	margin-bottom: 2rem;
}
.search-box-wrapper .serch-box-header .heading {
	font-size: 2.5rem;
	font-weight: 700;
	padding-right: 5rem;
}
.search-box-wrapper .search-submit {
	border-radius: 0px;
	padding: 12px 40px;
	margin-top: 1rem;
	transition: 0.4s;
}
.search-box-wrapper .search-submit:hover {
	background: #000;
	color: #28a745;
}
.search-box-wrapper #btn-close {
	position: absolute;
	top: 8px;
	right: 20px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 2rem;
	cursor: pointer;
}
@media (min-width: 768px) {
	.search-box-wrapper {
		width: 50%;
		right: -100%;
		transition: right 0.5s;
	}
}
@media (max-width: 767px) {
	.search-box-wrapper {
		width: 100%;
		right: -100%;
		transition: right 0.5s;
	}
}
.search-box {
	right: 0%;
}
/* serch box styling end */

/* nav styling */
.top-navigation {
	padding: 2rem 0rem;
	transition: padding 0.3s;
}
.navbar-reduce {
	padding: 1.3rem 0rem;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.322);
}
.top-navigation .navbar-brand .brand-name {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 2.25rem;
	font-weight: bold;
}
.top-navigation .navbar-brand .brand-name .name-left {
	color: #000;
	transition: color 0.3s;
}
.top-navigation .navbar-brand .brand-name:hover a {
	text-decoration: none;
}
.top-navigation .navbar-brand .brand-name:hover .name-left {
	color: #28a745;
	text-decoration: none;
}
.top-navigation .navbar-nav .nav-item {
	padding: 0.5rem 0.5rem;
}
.top-navigation .navbar-nav .nav-link {
	color: #000;
	font-weight: 600;
	font-size: 1.2rem;
	position: relative;
	padding: 0.4rem 0px;
	transition: color 0.3s;
}
.top-navigation .navbar-nav .nav-link:hover {
	color: #28a745;
}

.top-navigation .navbar-nav .nav-link::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background: #28a745;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s ease-out;
}
.top-navigation .navbar-nav .nav-item .active {
	color: #28a745;
}
.top-navigation .navbar-nav .nav-link:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}
.top-navigation .navbar-nav .nav-item .active::before {
	transform: scaleX(1);
}

@media (min-width: 992px) {
	.navbar-nav .dropdown .dropdown-menu {
		top: 136%;
		padding: 1rem 0rem;
		border-top: 5px solid #28a745;
		border-radius: 0px;
		display: block;
		visibility: hidden;
		opacity: 0;
		transition: top 0.6s, opacity 0.4s, visibility 0.4s;
	}
}

.navbar-nav .dropdown:hover .dropdown-menu {
	visibility: visible;
	opacity: 1;
	top: 100%;
}
.navbar-nav .dropdown-menu .dropdown-item {
	padding: 0.5rem 1rem;
	padding-right: 4rem;
	font-size: 1.25rem;
	transition: 0.2s;
}
.navbar-nav .dropdown-menu .dropdown-item:hover {
	color: #28a745;
	background: #fff;
}
.navbar-nav .dropdown-menu .active {
	background: transparent;
}
.navbar .search-icon-btn {
	border-radius: 0px;
}

/* nav styling end*/

.table th,
.table td {
	font-size: 14px !important;
	padding-right: 4px;
	padding-left: 4px;
}

.table td {
	border-top: 0px;
}

/* main carousel styling */
.carousel-item img {
	width: 100%;
	height: 100vh;
}
.carousel-indicators {
	bottom: 150px;
	left: 55%;
}
.carousel-indicators li {
	width: 20px;
	height: 12px;
	transition: width 0.3s, background-color 0.3s;
}
.carousel-indicators li:hover {
	background-color: #28a745;
}
.carousel-indicators .active {
	width: 35px;
	background-color: #28a745;
}
.carousel-caption {
	left: 10%;
	bottom: 120px;
	text-align: left;
}
.carousel-caption .address {
	font-size: 1rem;
	line-height: 0.3rem;
}
.carousel-caption .property-name {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 5rem;
	font-weight: bold;
	text-transform: capitalize;
}
.carousel-caption .rent {
	border: 3px solid #28a745;
	display: inline-block;
	padding: 1rem 0.5rem;
	border-radius: 2rem;
	cursor: pointer;
}

@media (max-width: 768px) {
	.carousel-caption {
		left: 8%;
		bottom: 100px;
		text-align: left;
	}
	.carousel-caption .address {
		font-size: 0.8rem;
		line-height: 0.3rem;
	}
	.carousel-caption .property-name {
		font-size: 3rem;
		font-weight: bold;
		text-transform: capitalize;
	}
	.carousel-caption .rent {
		border: 3px solid #28a745;
		display: inline-block;
		padding: 0.8rem 0.4rem;
		border-radius: 2rem;
		cursor: pointer;
		font-size: 1rem;
	}
}
/* main carousel styling end */

/* services styling */
.service .service-icon {
	padding: 1.5rem 2rem 1rem 2rem;
	border: 8px solid #28a745;
}
.service .service-icon svg {
	width: 3.5rem !important;
	height: 3.5rem;
	margin: 0rem 1rem;
}
.service .s-heading h2 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
	margin-left: -40px;
}
.service .service-link {
	font-size: 1.2rem;
	color: #141414;
	font-weight: 600;
}
.service .service-link:hover {
	text-decoration: none;
	color: #28a745;
}
/* services styling end */

/* latest propeties styling */
.property-carousel .card {
	overflow: hidden;
	border-radius: 0px;
}
.property-carousel .card img {
	border-radius: 0px;
	transition: 0.5s;
	height: 360px;
}
.property-carousel .card:hover img {
	transform: scale(1.1);
}
.property-carousel .property-caption {
	position: absolute;
	padding: 0px;
	width: 100%;
	bottom: -115px;
	transition: bottom 0.5s;
}
.property-carousel .card:hover .property-caption {
	bottom: -20px;
}
.property-carousel .property-caption .information {
	color: #fff;
	padding: 1rem;
	margin-bottom: 0.5rem;
}
.property-carousel .property-caption .information .address {
	font-size: 2.4rem;
	font-weight: 600;
}
.property-carousel .property-caption .information .rent {
	font-size: 1.25rem;
	border: 3px solid #28a745;
	border-radius: 2rem;
	padding: 0.6rem 0.5rem;
	margin: 0.6rem 0rem;
	display: inline-block;
}
.property-carousel .property-caption .information .link {
	display: block;
	color: #fff;
}
.property-caption .extra-info .table {
	width: 100%;
	height: 98px;
	border: none;
}
.property-caption .extra-info .table th {
	border: 0px;
}

/* latest propeties styling end */

/* agents styling */
.agents-wrapper .card {
	border-radius: 0px;
}
.agents-wrapper .card img {
	border-radius: 0px;
}

.single-agent .agent-overlay {
	padding: 2rem;
	background: #28a746e0;
	opacity: 0;
	transition: all ease 0.3s;
	color: #fff;
}

.single-agent:hover .agent-overlay {
	opacity: 1;
}
.single-agent .agent-overlay .agent-name a {
	font-size: 2rem;
	color: #000;
	display: block;
	font-weight: 600;
	transform: translateY(-40px);
	transition: 0.4s;
}
.single-agent:hover .agent-overlay .agent-name a {
	transform: translateY(0px);
}
.single-agent .agent-overlay .agent-prg {
	font-size: 1.1rem;
	transform: translateY(-40px);
	transition: 0.4s;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 80px;
}
.single-agent:hover .agent-overlay .agent-prg {
	transform: translateY(0px);
}
.single-agent .agent-overlay .agent-phone,
.single-agent .agent-overlay .agent-email,
.single-agent .agent-overlay .nav svg {
	color: #000;
}
.single-agent .agent-overlay .nav {
	transform: translateY(40px);
	transition: 0.4s;
	position: absolute;
	bottom: 30px;
}

.single-agent:hover .agent-overlay .nav {
	transform: translateY(0);
}
@media (max-width: 1200px) {
	.single-agent p {
		margin-bottom: 0.1rem;
	}
	.single-agent .agent-overlay {
		padding: 0.5rem;
	}
	.single-agent .agent-overlay .nav .nav-link {
		padding: 0.5rem;
	}
	.single-agent .agent-overlay .agent-name a {
		font-weight: 600;
	}
}
@media (max-width: 768px) {
	.single-agent p {
		margin-bottom: 1rem;
	}
	.single-agent .agent-overlay {
		padding: 2rem;
	}
	.single-agent .agent-overlay .agent-name a {
		font-size: 2rem;
		font-weight: 600;
	}

	.single-agent .agent-overlay .agent-prg {
		font-size: 1.1rem;
	}
	.single-agent .agent-overlay .agent-phone,
	.single-agent .agent-overlay .agent-email,
	.single-agent .agent-overlay .nav svg {
		font-size: 1rem;
	}
}
/* agents styling end */

/* latest news */
.single-news .card {
	border-radius: 0px;
	overflow: hidden;
}
.single-news .card img {
	border-radius: 0px;
	transition: 0.4s;
	min-height: 300px;
}
.single-news:hover .card img {
	transform: scale(1.1);
}
.single-news .news-caption {
	position: absolute;
	bottom: 0%;
	left: 0;
	padding: 2rem;
}
.single-news .news-caption .news-tittle {
	font-size: 1rem;
	text-transform: capitalize;
	padding: 0.25rem 0.8rem;
	background: #28a746e3;
	border-radius: 2rem;
}
.single-news .news-caption .heading a {
	font-size: 1.7rem;
	margin: 1rem 0rem;
	font-weight: 600;
	text-transform: capitalize;
	display: block;
	color: #ffffff;
}
.single-news .news-caption .date {
	color: #fff;
}
/* latest news end */

/* testimonials styling */
.testimonials-slider .owl-theme .owl-nav {
	position: absolute;
	top: -150px;
	right: 0;
}
.testimonials-slider .owl-theme .owl-dots {
	display: none;
}
.testimonials-slider .owl-theme .owl-nav span {
	font-size: 3rem;
}
.testimonials-slider .owl-theme .owl-nav [class*='owl-']:hover {
	background: transparent;
	color: #000;
}
.testimonial svg {
	width: 2rem !important;
	height: 2rem;
	color: #28a745;
}
.testimonial .jumbotron {
	padding: 1rem;
}
.testimonial .media {
	margin-bottom: 3rem;
}
.testimonial .media img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.testimonial .media .media-name {
	font-size: 1.3rem;
	font-weight: 600;
	padding: 0.5rem;
	line-height: 4rem;
}

/* testimonials styling end */

/* footer styling  */
.footer-heading {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 2.2rem;
	font-weight: 700;
}
.footer-up-section {
	padding-top: 4rem;
}
.footer-up-section .about-agrency .foot-phone,
.footer-up-section .about-agrency .foot-email {
	color: #000;
}
.footer-up-section .company-nav .nav .nav-link,
.footer-up-section .in-sites-nav .nav .nav-link,
.footer-navigation .nav .nav-link {
	font-weight: 500;
	color: #000;
	transition: 0.3s;
}
.footer-up-section .company-nav .nav .nav-link svg,
.footer-up-section .in-sites-nav .nav .nav-link svg {
	color: #28a745;
}
.footer-up-section .company-nav .nav .nav-link:hover,
.footer-up-section .in-sites-nav .nav .nav-link:hover,
.footer-navigation .nav .nav-link:hover {
	color: #28a745;
}
.footer-down-section {
	border-top: 2px solid rgba(0, 0, 0, 0.082);
}
.footer-down-section a {
	color: #000;
	transition: 0.3s;
}
.footer-down-section a:hover {
	color: #28a745;
}

@media (max-width: 576px) {
	.top-navigation .navbar-brand .brand-name {
		font-size: 2rem;
	}
	.carousel-caption .property-name,
	.section-header .heading,
	.service .s-heading h2,
	.news-grid-header .header .heading,
	.property-grid-header .header .heading,
	.about-header .header .heading,
	.agency-info-header .heading,
	.about-header .header .heading,
	.agency-info-header .heading,
	.agent-grid-header .header .heading,
	.agent-single-header .header .heading,
	.news-single-header .header .heading,
	.nc-header .heading,
	.comment-form-header .heading,
	.contact-header .header .heading,
	.property-single-header .header .heading {
		font-size: 2rem !important;
	}
}

/* footer styling end */
#createConv {
	display: none;
}
